{% extends "base.html" %}
{% block title %}Slots{% endblock %}
{% block content %}
<div class="container">
    <br />
    <h3>Available Slots for {{ selected_day.strftime('%A, %B %d, %Y') }}</h3>
    <div class="row">
        {% for slot in available_slots %}
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ slot.start_time.strftime('%I:%M %p') }} - {{ slot.end_time.strftime('%I:%M %p') }}</h5>
                    {% if slot.is_slot_booked(selected_day) %}
                    <button class="btn btn-danger" disabled>Booked</button>
                    {% else %}
                    <a href="{{ url_for('views.select_system', slot_id=slot.id) }}" class="btn btn-primary">Book Slot</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
